name: "taxi_pyspark"
services:                  
  jupyterlab:              
    build: .                      
    ports:                  
      - 8888:8888            
      - 4040:4040            
    volumes:                
      - ./notebook:/home/jovyan/work  
    environment:        
      - JUPYTER_ENABLE_LAB=yes     
      - JUPYTER_TOKEN=taxi_2025
      - PYSPARK_SUBMIT_ARGS=--packages org.postgresql:postgresql:42.7.8 pyspark-shell
    networks:
      - taxi_network
      
  postgres:
    image: postgres:17
    restart: unless-stopped
    ports:
      - 5433:5432  
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:              
      - taxi_network         
        
  pgadmin:
    image: dpage/pgadmin4:9
    restart: unless-stopped
    ports:
      - 5050:80    
    environment:
      PGADMIN_DEFAULT_EMAIL: postgres@postgres.com
      PGADMIN_DEFAULT_PASSWORD: postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:            
      - taxi_network         
        
volumes:
  postgres_data:
  pgadmin_data:

networks:            
  taxi_network:
    driver: bridge